In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [7]:
df = pd.read_csv('/Users/iagogarrido/Documents/ironhack/unit1/lab-customer-analysis-round-5/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [5]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [8]:
X = df.drop('Total Claim Amount', axis=1)
Y = df['Total Claim Amount']

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [15]:
Y_train

434      624.000000
4641     628.800000
4952     667.200000
1489     871.200000
812      141.799422
           ...
5734     308.321335
5191     350.400000
5390    1059.572464
860      667.200000
7270     344.015386
Name: Total Claim Amount, Length: 6393, dtype: float64

In [25]:
numeric_cols = ['Customer Lifetime Value', 'Income', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies']
X_train_numeric = X_train[numeric_cols]
X_test_numeric = X_test[numeric_cols]

In [26]:
scaler = MinMaxScaler()

In [27]:
X_train_normalized = scaler.fit_transform(X_train_numeric)
X_test_normalized = scaler.transform(X_test_numeric)

In [28]:
X_train_normalized_df = pd.DataFrame(X_train_normalized, columns=numeric_cols)
X_test_normalized_df = pd.DataFrame(X_test_normalized, columns=numeric_cols)

In [29]:
X_train_normalized_df

,Customer Lifetime Value,Income,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0.038280,0.485762,0.151515,0.0,0.000
1,0.039929,0.268821,0.020202,0.0,0.000
2,0.036927,0.129045,0.515152,0.0,0.000
3,0.081208,0.000000,0.949495,0.0,0.875
4,0.016954,0.702603,0.191919,0.2,0.000
...,...,...,...,...,...
6388,0.066763,0.879737,0.636364,0.0,0.125
6389,0.044223,0.225243,0.646465,0.0,0.250
6390,0.087130,0.000000,0.040404,0.0,0.750
6391,0.156427,0.000000,0.565657,0.0,0.125
6392,0.017827,0.781068,0.131313,0.0,0.000